

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212121;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.product {
  width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 14px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
  padding: 16px;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.product:hover {
  /* transform: translateY(-6px); */
  box-shadow: 0 14px 35px rgba(0, 0, 0, 0.18);
}

/* Image section */
.product .header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}

.product .header img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

/* Content */
.product .body {
  text-align: center;
  margin-bottom: 12px;
}

.product .body h3 {
  font-size: 1.2rem;
  color: #1f2937;
  margin-bottom: 6px;
   max-height: 2.4em; /* 2 lines max */
  overflow: hidden;
  text-overflow: ellipsis;
}

.product .body h5 {
  font-size: 0.9rem;
  color: #6b7280;
  font-weight: 500;
}

/* Button */
.product button {
  width: 100%;
  padding: 10px 0px;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: #ffffff;
  font-size: 0.95rem;
  cursor: pointer;
    transition: background 0.3s ease;
}

.product button:hover {
  background: #1e40af;
}

.row1 {
  width: 100%;
  position: relative;
}
.row2{
  position: relative;
}
.row3{
  position: relative;
}

.product-container {
  padding: 20px;
  display: flex;
  width: 100%;
  gap: 16px;
  overflow-x: auto;
  scroll-behavior: smooth;
  align-items: stretch;
}
.left{
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 10;
}
.right{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 10;
}
.product-container::-webkit-scrollbar {
  display: none;
}
.product-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.left1  {
  position: absolute;
background-color: #1e40af;
top: 50%;
}